@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('./body.css');
:root {
  font-family: 'Roboto Mono', monospace;
  --primary-color: #f8fdff;
  --secondary-color: #aab3c4;
  --tertiary-color: #2b2d42;
  --quaternary-color: #ef233c;
  --quinary-color: #d90429;

  --b-radius: 4px;

  --s01: 0.1rem;
  --s05: 0.5rem;
  --s1: 1rem;
  --s2: 2rem;
  --s3: 3rem;
  --s4: 4rem;
  --s5: 5rem;
  --s9: 9rem;
  --s10: 10rem;

  --font-size-small: 12px;
  --font-size-base: 15px;
  --font-size-heading: 1.9rem;
}

@media (min-width: 768px) {
  :root {
    --b-radius: 3px;
    --s1: 1.25rem;
    --s2: 2.5rem;
    --s3: 3.5rem;
    --s4: 5rem;
    --s5: 6rem;
    --s9: 10rem;
    --s10: 12rem;
    --font-size-small: 10px;
    --font-size-base: 16px;
    --font-size-heading: 2.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --b-radius: 5px;
    --s1: 1.5rem;
    --s2: 3rem;
    --s3: 4rem;
    --s4: 6rem;
    --s5: 7rem;
    --s9: 12rem;
    --s10: 14rem;
    --font-size-small: 12px;
    --font-size-base: 18px;
    --font-size-heading: 3rem;
  }
}

body {
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0%;
  margin: 0;
  margin-top: var(--s2);
}

h1,
h2,
h3,
h4 {
  color: var(--tertiary-color);
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size-heading);
}

h2 {
  font-size: var(--font-size-heading);
}

h3 {
  font-size: var(--font-size-base);
}

h4 {
  font-size: var(--font-size-base);
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

.flex.pad-1 {
  padding: var(--s1);
}

.flex.pad-2 {
  padding: var(--s2);
}

.flex.pad-3 {
  padding: var(--s3);
}

.flex.pad-x-1 {
  padding: var(--s01) var(--s01);
}

.flex.pad-x-2 {
  padding: 0 var(--s2) 0 var(--s2);
}

.flex.pad-x-3 {
  padding: 0 var(--s3) 0 var(--s3);
}

.flex {
  display: flex;
}

.flex.w-100 {
  width: 100%;
}

.flex.h-100 {
  height: 100%;
  align-items: center;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.center {
  align-items: center;
}

.flex.first-baseline {
  align-items: first baseline;
}

.flex.between {
  justify-content: space-between;
}

.flex.gap-1 {
  gap: var(--s1);
}

.flex.gap-2 {
  gap: var(--s2);
}

.flex.gap-3 {
  gap: var(--s3);
}

.flex.mb-1 {
  margin-bottom: var(--s1);
}

.flex.mb-2 {
  margin-bottom: var(--s2);
}

.flex.mb-3 {
  margin-bottom: var(--s3);
}

.flex.mt-1 {
  margin-top: var(--s1);
}

.flex.mt-2 {
  margin-top: var(--s2);
}

.flex.mt-3 {
  margin-top: var(--s3);
}

.no-wrap {
  text-wrap: nowrap;
}
.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

button,
a {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: var(--s01) solid var(--tertiary-color);
  border-radius: var(--b-radius);
  padding: var(--s05) var(--s1);
  min-width: var(--s5);
  font-size: var(--font-size-base);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.1s ease;
  box-shadow: 0 var(--s01) 0 var(--tertiary-color);
}

button:hover,
a:hover {
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  box-shadow: 0 var(--s01) 0 var(--quaternary-color);
}

button:focus,
a:focus {
  outline: none;
}

button:disabled,
a:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

button:disabled:hover a:disabled:hover {
  background-color: #cccccc;
}

button.small,
a.small {
  width: var(--s1);
  height: var(--s1);
  padding: 0%;
  font-size: var(--font-size-small);
}

.route {
  text-decoration: none;
  color: var(--secondary-color);
}

.route:hover {
  opacity: 0.8;
}

.char-shadow {
  text-shadow:
    calc(-1 * var(--s01)) 0 1px black,
    0 var(--s01) 1px black,
    var(--s01) 0 1px black,
    0 calc(-1 * var(--s01)) 1px black;
}

#board {
  width: min(80vw, 60vh);
  height: min(80vw, 60vh);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 0px;
  padding: var(--s05);
  box-sizing: border-box;
  border: var(--s01) solid var(--tertiary-color);
  border-radius: var(--b-radius);
  background: var(--secondary-color);
}

.cell {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border: thin solid var(--tertiary-color);
  user-select: none;
  box-sizing: border-box;
}

.cell > p {
  margin: 0;
  line-height: 1;
  font-size: calc(min(65vw, 65vh) / var(--cols) * 0.7);
}

.cell:hover {
  background-color: var(--tertiary-color);
}

.cell p {
  font-weight: bold;
}

#keyboard {
  width: min(80vw, 50vh);
  margin: 0 auto;
  display: grid;
  align-items: center;
  --cols: 6;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: var(--s05);
  padding: var(--s05);
  box-sizing: border-box;
  border: var(--s01) solid var(--tertiary-color);
  border-radius: var(--b-radius);
  background: var(--secondary-color);
}

#keyboard button {
  min-width: 0%;
  padding: 0%;
  text-transform: uppercase;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
