@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: 'Roboto Mono', monospace;
  --primary-color: #e0e5e7;
  --secondary-color: #8d99ae;
  --tertiary-color: #2b2d42;
  --quaternary-color: #ef233c;
  --quinary-color: #d90429;
  --b-radius: 4px;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: 100vh;
}

#app {
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0%;
  margin: 0;
  margin-top: 2rem;
}

h1,
h2,
h3,
h4 {
  color: var(--tertiary-color);
  text-transform: uppercase;
  text-shadow: -1px 1px 1px var(--secondary-color);
  margin: 0%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.5rem;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
}

.flex.pad-1 {
  padding: 1rem;
}

.flex.pad-2 {
  padding: 2rem;
}

.flex.pad-3 {
  padding: 3rem;
}

.flex.pad-x-1 {
  padding: 0 1rem 0 1rem;
}

.flex.pad-x-2 {
  padding: 0 2rem 0 2rem;
}

.flex.pad-x-3 {
  padding: 0 3rem 0 3rem;
}

.flex {
  display: flex;
}

.flex.w-100 {
  width: 100%;
}

.flex.h-100 {
  height: 100%;
  align-items: center;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.center {
  align-items: center;
}

.flex.first-baseline {
  align-items: first baseline;
}

.flex.between {
  justify-content: space-between;
}

.flex.gap-1 {
  gap: 1rem;
}

.flex.gap-2 {
  gap: 2rem;
}

.flex.gap-3 {
  gap: 3rem;
}

.flex.mb-1 {
  margin-bottom: 1rem;
}

.flex.mb-2 {
  margin-bottom: 2rem;
}

.flex.mb-3 {
  margin-bottom: 3rem;
}

.flex.mt-1 {
  margin-top: 1rem;
}

.flex.mt-2 {
  margin-top: 2rem;
}

.flex.mt-3 {
  margin-top: 3rem;
}

.no-wrap {
  text-wrap: nowrap;
}
.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

button,
a {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: 0.1rem solid var(--tertiary-color);
  border-radius: var(--b-radius);
  padding: 0.5rem 2rem;
  min-width: 5rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.1s ease;
  box-shadow: 0 0.1rem 0 var(--tertiary-color);
}

button:hover,
a:hover {
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  box-shadow: 0 0.1rem 0 var(--quaternary-color);
}

button:focus,
a:focus {
  outline: none;
}

button:disabled,
a:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

button:disabled:hover a:disabled:hover {
  background-color: #cccccc;
}

.route {
  text-decoration: none;
  color: var(--secondary-color);
}

.route:hover {
  opacity: 0.8;
}

.cell-container {
  border: 0.1rem solid var(--tertiary-color);
  border-radius: var(--b-radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  box-shadow: -0.1rem 0.1rem var(--tertiary-color);
}

.cell {
  width: 4rem;
  height: 4rem;
  background-color: var(--primary-color);
  border: thin solid var(--tertiary-color);
  color: var(--secondary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 0%;
  border-collapse: collapse;
}

.cell:hover {
  background-color: var(--tertiary-color);
}

.cell p {
  font-weight: bold;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
